.container {
    max-width: 960px;
  }
  
  .lh-condensed { line-height: 1.25; }
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .baaa
  {
     border: solid 3px black;
     padding: 5px;
     min-height: 100vh;
  }
  

.ddd
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.espacio
{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}